k9s:
  ui:
    skin: catppuccin
plugins:
  argocd:
    args:
    - app
    - sync
    - $NAME
    - --app-namespace
    - $NAMESPACE
    background: true
    command: argocd
    confirm: true
    description: Sync ArgoCD Application
    scopes:
    - application
    shortCut: s
  cert-renew:
    args:
    - -c
    - cmctl renew --context $CONTEXT -n $NAMESPACE $NAME |& less
    background: false
    command: bash
    confirm: false
    description: Certificate renew
    scopes:
    - certificates
    shortCut: Shift-R
  cert-status:
    args:
    - -c
    - cmctl status certificate --context $CONTEXT -n $NAMESPACE $NAME |& less
    background: false
    command: bash
    confirm: false
    description: Certificate status
    scopes:
    - certificates
    shortCut: Shift-S
  disable-auto-sync:
    args:
    - patch
    - applications
    - -n
    - argocd
    - $NAME
    - --type=json
    - '-p=[{"op":"replace", "path": "/spec/syncPolicy", "value": {}}]'
    background: false
    command: kubectl
    confirm: false
    description: Disable argocd sync
    scopes:
    - apps
    shortCut: Shift-J
  enable-auto-sync:
    args:
    - patch
    - applications
    - -n
    - argocd
    - $NAME
    - --type=merge
    - -p={"spec":{"syncPolicy":{"automated":{"prune":true,"selfHeal":true},"syncOptions":["ApplyOutOfSyncOnly=true","CreateNamespace=true","PruneLast=true","PrunePropagationPolicy=foreground"]}}}
    background: false
    command: kubectl
    confirm: false
    description: Enable argocd sync
    scopes:
    - apps
    shortCut: Shift-B
  refresh-apps:
    args:
    - -c
    - kubectl annotate applications -n argocd $NAME argocd.argoproj.io/refresh=hard
    background: false
    command: bash
    confirm: false
    description: Refresh a argocd app hard
    scopes:
    - apps
    shortCut: Shift-R
  secret-inspect:
    args:
    - -c
    - cmctl inspect secret --context $CONTEXT -n $NAMESPACE $NAME |& less
    background: false
    command: bash
    confirm: false
    description: Inspect secret
    scopes:
    - secrets
    shortCut: Shift-I
